// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.thumb {
	max-height: 5em;
	max-width: 5em;
	padding: 5px;
}

.user-page-thumb {
	max-height: 5em;
	max-width: 5em;
	padding: 5px;
	text-align: left;
}

.user-accounts {
	max-width: 300px;
	margin: 4em 0em 0em 21em ;
}

.comments {
	color: gray;
	font-size: 30px;
	padding: 10px;
}
